<!DOCTYPE html>
<html>

<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
  <div class="container">
    <div class="containerBox">
      <div class="boxTitle">
        <h3>Produire:</h3>
      </div>
      <div class="homeBox">
        <form class="homeForm" action="/result" method="get">
          <label for="resourceWanted">Ressource:</label>
          <select name="resourceWanted" id="resourceWanted" required>
            <option disabled value="">Sélectionner une ressource</option>
            <% resources.forEach(function(r) { %>
              <option value="<%= r.idResource %>" <% if (r.idResource == resource[0].idResource) { %>selected<% } %>>
                <%= r.resourceName %>
              </option>
            <% }); %>
          </select>
          <label for="resourceQuantity">Unités par minute:</label>
          <input type="number" name="resourceQuantity" placeholder="" id="resourceQuantity" min="1" value="<%= quantity %>" required>
          <button>Calculer</button>
        </form>        
      </div>
    </div>
    <div class="containerBox resultBox">
      <div class="boxTitle">
        <h2> <img class="ressourceImg" src="/images/Ressources/<%= resource[0].idResource %>.png"></img> <%= quantity %> unités/min de <%= resource[0].resourceName %> </h2>
      </div>
      <div class="resultText">
        <% recetteResources.forEach(function(r) { %>
          <% if (r.resourceParent == -1) {%>
            <p> - <img class="ressourceImg" src="/images/Ressources/<%= r.idResource %>.png"> <%= r.quantity %> unités/min de <%= r.resourceName %></p>
          <% } %>
        <% }); %>
      </div>
      <div class="boxTitle">
        <h2>Coût en machine et électricité:</h2>
      </div>
      <div class="resultText">
        <% nbrFactory.forEach(function(r) { %>
          <p> - <img class="ressourceImg" src="/images/Machines/<%= r.idFactory %>.png"> <%= r.nbr %> <%= r.factoryName %> (<%= r.price %> MW)</p>
        <% }); %>
        Total: <%= totalMW %> MW
      </div>
      <% if (resource[0].resourceLvl> 1) { %>
        <div class="boxTitle">
          <h2>Coût en matière première:</h2>
        </div>
        <div class="resultText">
          <% rawMaterial.forEach(function(r) { %>
            <p> - <img class="ressourceImg" src="/images/Ressources/<%= r.idResource %>.png"> <%= r.quantity %> unités/min de <%= r.resourceName %></p>
          <% }); %>
        </div>
      <div class="boxTitle">
        <h2>Coût détaillé:</h2>
      </div>
      <div class="scrollableWrapper">
      <% recetteResources.forEach(function(rResParent) { %>
        <% if (rResParent.resourceParent==-1) { %>
          
          <div class="rowWrapper">
            <div class="rowIndex">
              <p> <img class="ressourceImg" src="/images/Ressources/<%= rResParent.idResource %>.png"> <%= rResParent.quantity %> unités/min de <%= rResParent.resourceName %> </p>
            </div>
            <div class="rowResult">
              <% var idTargets=[]; %>
                <% idTargets.push(rResParent.setId); %>
                  <% while (true) { %>
                    <% var foundElements=[]; %>
                      <% var breakVar=true; %>
                        <div class="colResult">
                          <% for (let i=0; i < idTargets.length; i++) { %>
                            <% recetteResources.forEach(function(rRes) { %>
                              <% if (rRes.resourceParent==idTargets[i]) { %>
                                <div class="miniBoxWrapper">
                                <div class="resultsMiniBox">
                                  <p class="image-with-text"> <img class="ressourceImg" src="/images/Ressources/<%= rRes.idResource %>.png"> <%= rRes.quantity %> unités/min de <%= rRes.resourceName %> </p>
                                </div>
                                <% foundElements.push(rRes.setId); %>
                                <% if (rRes.resourceLvl> 0) { %>
                                  <% breakVar=false %>
                                  <div class="arrowBox">
                                    <i class="fa-solid fa-arrow-left"></i>
                                  </div>
                                <% } %>
                                </div>
                              <% } %>
                            <% }); %>
                          <% } %>
                        </div>
                        <% if (breakVar == true) { %>
                          <% break; %>
                        <% } %>
                        <% idTargets=foundElements; %>
                  <% } %>
            </div>
          </div>
          <% } %>
        <% }); %>
      </div>
        <% } %>
    </div>
  </div>
</body>

</html>